<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Your babies!</h1>
    <%  foundBabies.forEach((baby) => { %>
        <p class="secret-text" ><a href="/<%=baby.name%>"><%=baby.name%></a></p>
    <% }) %>
    
    <hr>
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      <a class="btn btn-dark btn-lg" href="/newbaby" role="button">Add a New Baby</a>
  </div>
</div>

<%- include('partials/footer') %>
